.grid {
  display: grid;
}

.text-2xl {
  font: var(--h1);
}

.text-lg {
  font: var(--h2);
}

.text-md {
  font: var(--h3)
}

.subtitle {
  font: var(--subtitle);
}

.text {
  font: var(--text);
}

.text-sm {
  font: var(--text-sm);
}

.grid {
  display: grid;
}

.grid-column {
  grid-template-columns: repeat(3, 0.6fr);
}


.skill {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: var(--base-color-gray-400);
  margin: 10px;
  gap: 16px;
  padding: 15px;
  justify-content: space-between;
  border-radius: 30px;
}

.container {
  display: flex;
  justify-content: flex-end;
  padding-top: 100px;
}

.detail {
  height: 327px;
  width: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.img-space {
  margin-bottom: 56px;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}

.h1-space {
  padding: 10px 0 20px;
}

.main-container {
  margin: 72px 120px 144px 120px;
  background-color: var(--base-color-gray-500);
}

.card {
  width: 330px;
  height: 280px;
  padding: 12px;
  margin: 24px;
  background-color: var(--base-color-gray-400);
  border-radius: 10px;
}

.card > img {
  border-radius: 10px;
  width: 100%;
}

.card-text {
  padding-top: 30px;
}

.details {
  margin-top: 56px;
}

.card-service {
  width: 280px;
  height: 155px;
  padding: 12px;
  margin: 24px;
  /* background-color: var(--base-color-gray-400); */
  /* border-radius: 10px; */
  border: solid 2px var(--base-color-gray-500);

  img {
    padding-bottom: 20px;
    width: 48px;
    height: 48px;
  }
}

.service-container {
    background-color: var(--base-color-gray-600);
    width: 1366px;
    height: 480px;
    padding: 88px 120px 88px 120px;
}

.card-contact {
    background-color: var(--base-color-gray-600);
    width: 1366px;
    height: 480px;
    /* padding: 88px 120px 88px 120px; */

    img {
        height: 28px;
        width: 28px;
        margin-right: 15px;
    }

    img:nth-of-type(2) {
        width: 20px;
        height: 20px;
        margin-left: auto;
}
}


.contact-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--base-color-gray-200);
    /* padding: 100px; */
    /* justify-content: space-between; */
    width: 400px;
    height: 68px;
    padding: 20px;
    margin: 24px;
    background-color: var(--base-color-gray-400);
    border-radius: 10px;
}

.contact-grid {
    padding: 40px;
}
