.grid {
  display: grid;
}

.text-2xl {
  font: var(--h1);
}

.text-lg {
  font: var(--h2);
}

.text-md {
  font: var(--h3)
}

.subtitle {
  font: var(--subtitle);
}

.text {
  font: var(--text);
}

.text-sm {
  font: var(--text-sm);
}

.header-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  background-image: url(../assets/images/Background_Intro.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px 56px;
  text-align: center;
  background-color: red;
  height: 550px;
  /* width: 100%; */
  min-height: 400px; /* altura mínima para garantir visibilidade */
}

.intro  {
  margin: 0;
  padding: 0;
  display: inline-block;
  align-items: center;
  align-content: center;
  height: 447px;
  width: 1040px;
}

.h1-space {
  padding: 20px;
}

.skill {
  display: inline-flex;
  align-items: center;
  padding: 16px;
  max-height: 40px;
  border-radius: 20px;
  color: var(--base-color-gray-200);
  background-color: var(--base-color-gray-400);
  align-content: space-between;
}

.container {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding-top: 170px;
}


.arrow {
  position: absolute;
  bottom: 30px; /* Posiciona a seta na parte inferior */
  left: 50%;
  transform: translateX(-50%); /* Centraliza horizontalmente */
  background-image: url(../assets/icons/intro/arrow-down.svg);
  width: 20px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

